.color-palette {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  &__color {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5rem;
    & > span {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    &__box {
      width: 7rem;
      height: 7rem;
    }
  }
}
