{% import './macros/button.njk' as buttons %}

<div class="grid">
    <h3>Buttons</h3>
    <div class="grid__row">
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Normal Button</h6>
            {{ buttons.button(text='Click Me', type='normal') }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Normal Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='normal', logoName="download", logoPosition="left") }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Normal Disabled Button</h6>
            {{ buttons.button(text='Click Me', type='normal', disabled=true) }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Normal Disabled Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='normal', disabled=true, logoName="download", logoPosition="right") }}
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Outlined Button</h6>
            {{ buttons.button(text='Click Me', type='outlined') }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Outlined Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='outlined', logoName="download", logoPosition="left") }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Outlined Disabled Button</h6>
            {{ buttons.button(text='Click Me', type='outlined', disabled=true) }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Outlined Disabled Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='outlined', disabled=true, logoName="download", logoPosition="right") }}
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Unelevated Button</h6>
            {{ buttons.button(text='Click Me', type='unelevated') }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Unelevated Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='unelevated', logoName="download", logoPosition="left") }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Unelevated Disabled Button</h6>
            {{ buttons.button(text='Click Me', type='unelevated', disabled=true) }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Unelevated Disabled Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='unelevated', disabled=true, logoName="download", logoPosition="right") }}
        </div>
    </div>
    <div class="grid__row">
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Raised Button</h6>
            {{ buttons.button(text='Click Me', type='raised') }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Raised Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='raised', logoName="download", logoPosition="left") }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Raised Disabled Button</h6>
            {{ buttons.button(text='Click Me', type='raised', disabled=true) }}
        </div>
        <div class="grid__cell grid__cell--span-3-desktop grid__cell--span--2-tablet grid__cell--span--1-phone">
            <h6>Raised Disabled Button w/ SVG Icon</h6>
            {{ buttons.button(text='Click Me', type='raised', disabled=true, logoName="download", logoPosition="right") }}
        </div>
    </div>
</div>