@use "sass:string";
@use "./functions";

$typography-family: (
  "Nunito": string.unquote("Nunito, sans-serif"),
);

$typography: (
  "Nunito": (
    "button": (
      font-size: functions.px-to-rem(14px),
      line-height: functions.px-to-rem(36px),
      font-weight: 500,
      letter-spacing: functions.get-letter-spacing(1.25, 14),
      text-decoration: none,
      text-transform: uppercase,
    ),
    
  ),
);