/// This is the typography file.
/// It contains two maps:
///   1. A map containing the font-family preset of a particular font
///   2. A map containing maps of font-familys (key) which themeselves contains
///      preset maps to be used across multiple components
/// The preset maps are typically used across component by defining the font-family-name and font-family's preset map
/// E.g. (Nunito, button)

@use "sass:string";
@use "./functions";

/// $typography-family is a map that contains a series of font-family-name:font-family-preset key:value pairs
///
/// @type map
/// @access public
/// @group typography
///
/// @example add new font-family preset
///   (
///     "font-family-name": string.unquote("font-family-preset"),
///   )
///
///   (
///     "Roboto": string.unquote("Roboto, sans-serif"),
///   )
///
$typography-family: (
  "Nunito": string.unquote("Nunito, sans-serif"),
);

/// $typography is map that contains a series of font-presets for each font-family of the project
///
/// @type map
/// @access public
/// @group typography
///
/// @example add a new preset map for a particular font-family
///   "font-family-name": (
///                         "preset-name": (
///                                           font-size: *px,
///                                           line-height: num,
///                                           font-weight: num,
///                                           letter-spacing: *px,
///                                           * text-decoration: inherit,
///                                           * text-transform: inherit,
///                                        )
///                       )
///   "roboto": (
///                         "h1": (
///                                           font-size: 64px,
///                                           line-height: 64px,
///                                           font-weight: 500,
///                                           letter-spacing: 1,
///                                        )
///                       )
///
$typography: (
  "Nunito": (
    "xs": (
      font-size: functions.pt-to-rem(9pt),
      line-height: functions.px-to-rem(16px),
      letter-spacing: functions.px-to-rem(0.4px),
      font-weight: 400,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "sm": (
      font-size: functions.pt-to-rem(10.5pt),
      line-height: functions.px-to-rem(20px),
      letter-spacing: functions.px-to-rem(0.4px),
      font-weight: 400,
      padding-top: functions.px-to-rem(1.5 + 8px),
      padding-bottom: functions.px-to-rem(2.5 + 8px),
    ),
    "md": (
      font-size: functions.pt-to-rem(12pt),
      line-height: functions.px-to-rem(24px),
      letter-spacing: functions.px-to-rem(0.25px),
      font-weight: 400,
      padding-top: functions.px-to-rem(2.7 + 8px),
      padding-bottom: functions.px-to-rem(1.3 + 8px),
    ),
    "lg": (
      font-size: functions.pt-to-rem(13.5pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.25px),
      font-weight: 400,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "xl": (
      font-size: functions.pt-to-rem(15pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.5px),
      font-weight: 400,
      padding-top: functions.px-to-rem(3.3 + 8px),
      padding-bottom: functions.px-to-rem(0.7 + 8px),
    ),
    "2xl": (
      font-size: functions.pt-to-rem(18pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.15px),
      font-weight: 500,
      padding-top: functions.px-to-rem(3.3 + 8px),
      padding-bottom: functions.px-to-rem(0.7 + 8px),
    ),
    "3xl": (
      font-size: functions.pt-to-rem(22.5pt),
      line-height: functions.px-to-rem(36px),
      letter-spacing: 0rem,
      font-weight: 450,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "4xl": (
      font-size: functions.pt-to-rem(27pt),
      line-height: functions.px-to-rem(40px),
      letter-spacing: functions.px-to-rem(0.25px),
      font-weight: 450,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "5xl": (
      font-size: functions.pt-to-rem(36pt),
      line-height: 1,
      letter-spacing: functions.px-to-rem(0.25px),
      font-weight: 325,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "6xl": (
      font-size: functions.pt-to-rem(45pt),
      line-height: 1,
      letter-spacing: functions.px-to-rem(-1 * 0.5px),
      font-weight: 275,
      padding-top: functions.px-to-rem(2 + 8px),
      padding-bottom: functions.px-to-rem(2 + 8px),
    ),
    "7xl": (
      font-size: functions.pt-to-rem(54pt),
      line-height: 1,
      letter-spacing: functions.px-to-rem(-1 * 0.5px),
      font-weight: 225,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "8xl": (
      font-size: functions.pt-to-rem(72pt),
      line-height: 1,
      letter-spacing: functions.px-to-rem(-1 * 1.5px),
      font-weight: 250,
      padding-top: functions.px-to-rem(8px),
      padding-bottom: functions.px-to-rem(8px),
    ),
    "9xl": (
      font-size: functions.pt-to-rem(96pt),
      line-height: 1,
      letter-spacing: functions.px-to-rem(-1 * 1.5px),
      font-weight: 250,
      padding-top: functions.px-to-rem(1.5 + 8px),
      padding-bottom: functions.px-to-rem(2.5 + 8px),
    ),
    /// Add a new map preset for this particular font-family
    ///
    /// Custom Presets
    "xl-button":
      (
        font-size: functions.pt-to-rem(15pt),
        line-height: functions.px-to-rem(28px),
        letter-spacing: functions.px-to-rem(1.25px),
        font-weight: 500,
        padding-top: functions.px-to-rem(3.3 + 0px),
        padding-bottom: functions.px-to-rem(0.7 + 0px),
        text-decoration: none,
        text-transform: uppercase,
      ),
    "lg-subtitle": (
      font-size: functions.pt-to-rem(13.5pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.25px),
      font-weight: 600,
      padding-top: functions.px-to-rem(12px),
      padding-bottom: functions.px-to-rem(12px),
    ),
    "xl-subtitle": (
      font-size: functions.pt-to-rem(15pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.5px),
      font-weight: 675,
      padding-top: functions.px-to-rem(3.3 + 12px),
      padding-bottom: functions.px-to-rem(0.7 + 12px),
    ),
    "2xl-subtitle": (
      font-size: functions.pt-to-rem(18pt),
      line-height: functions.px-to-rem(28px),
      letter-spacing: functions.px-to-rem(0.15px),
      font-weight: 725,
      padding-top: functions.px-to-rem(3.3 + 12px),
      padding-bottom: functions.px-to-rem(0.7 + 12px),
    ),
    "3xl-subtitle": (
      font-size: functions.pt-to-rem(22.5pt),
      line-height: functions.px-to-rem(36px),
      letter-spacing: 0rem,
      font-weight: 750,
      padding-top: functions.px-to-rem(12px),
      padding-bottom: functions.px-to-rem(12px),
    ),
  ),
  /// Add a new map of map presets using the font-family name as key
);
