@use "sass:map";
@use "../utilities/typography";

/* ==========================================================================
   Font Face
   ========================================================================== */

/* nunito variable fonts */

@font-face {
  font-family: "Nunito";
  font-weight: 100 900;
  font-display: block;
  src: 
  // local("Nunito"),
    url("./fonts/Nunito-VariableFont_wght.woff2") format("woff2 supports variations"),
    url("./fonts/Nunito-VariableFont_wght.woff2") format("woff2-variations"),
}


/* ==========================================================================
   Browser Defaults
   ========================================================================== */

ul {
  padding-left: 0;
  list-style-type: none;
  & > li {
    list-style-type: none;
  }
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

html {
  color: #333;
  background-color: #fff;
  // visibility: hidden;
  // opacity: 0;
  scroll-behavior: smooth;
}
body{
  font-family: map.get(typography.$typography-family, 'Nunito');
}

// Test Classes
.ripple--testbox {
  display: block;
  width: 240px;
  height: 160px;
  background-color: transparent;
  border: 1px solid black;
}

.test-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &--row {
    flex-direction: column;
  }
}

.box {
  background-color: brown;
  height: 100px;
}

.is-hidden {
  visibility: hidden;
}
