{% extends "./templates/page.njk" %}
{% block content %}
    <div class="grid">
    <h1>Portfolio UI Kit</h1>
    </div>
    {% include "./partials/color-palettes.njk" ignore missing %}
    {% include "./partials/typography.njk" ignore missing %}
    {% include "./partials/buttons.njk" ignore missing %}
    {# {% include "./partials/grid.njk" ignore missing %} #}
    {# {% include "./templates/list.njk" ignore missing %} #}
{% endblock %}