{% extends "./templates/page.njk" %}
{% block content %}
    <h1>Portfolio Style Guide</h1>
    {% include "./templates/buttons.njk" ignore missing %}
    {% include "./templates/color-palettes.njk" ignore missing %}
    {# <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ipsam saepe, rerum eligendi in impedit.</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aperiam quae ullam suscipit doloremque sunt!</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quas reiciendis commodi maiores! Quidem, provident!</h3>
    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga adipisci, veniam, blanditiis placeat nobis ipsam</h4>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quisquam nisi optio, nam veritatis aliquid.</h5>
    <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium inventore consequuntur vitae eius. Consectetur.</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consequuntur dolorem sequi ullam non, at ab maxime
        aliquid vitae, sint earum adipisci nobis quas architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis similique facere 
        tenetur quod molestias hic a pariatur nisi quas, excepturi eligendi enim 
        quia voluptate corrupti beatae, exercitationem quaerat voluptatem.
    </p>
    <span class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ipsum magni nihil mollitia laboriosam dolores!</span> #}
{% endblock %}