{% extends "../templates/sections/oneThirdTwoThirdsColumns.njk" %}
{% import '../templates/macros/typography.njk' as typography %}

{% block column1 %}
<h3>Typography</h3>
<p>There are 
<strong>6 headings</strong>, 
<strong>2 subtitles</strong>, 
<strong>2 body text</strong> and 
<strong>2 small text</strong> typographic styles.
</p>
{% endblock %}

{% block column2 %}
<h1 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h1>
<h2 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h2>
<h3 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h3>
<h4 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h4>
<h5 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h5>
<h6 role="none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore.</h6>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, labore. Possimus quidem id vero fugiat consequuntur minima animi, saepe et!</p>
{% endblock %}